<div class="col-lg-12">
    <h1 class="page-header">
        maill_side_list ADMIN
    </h1>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-fw fa-gift"></i> Common and simple</h4>
        </div>
        <div class="panel-body">
            <img src="..." alt="..." class="img-rounded">
            <p>id:1</p>
            <p>linkId:1</p>
            <p>link:#tab/pageDetail/banner-1</p>
            <p>title:Common and simple</p>
            <p>dsc:Should be assigned to each item element. mobile OS's</p>
            <a href="#" class="btn btn-default">Update</a>
        </div>
    </div>
</div>